main{
  display: block;
    position: relative;
    margin-left: 80px; /*Moves main from under the nav bar*/
  }
.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    height: 100vh;
    position: fixed;
}
  
  .icon-bar a{
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color */
  }
  
  .active {
    background-color: #FFA500; /* Add an active/current color */
  }

.login{
  border:none;
  padding:0px;
  height:45px;
  width: 191px;
  background-image:url("google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png");
  background-repeat: no-repeat;
  outline:none;
}
.login:hover{
  background:url("google_signin_buttons/web/1x/btn_google_signin_light_focus_web.png");
  background-repeat: no-repeat;
}
