<div ng-controller="listCtrl">
    <!-- ng-switch="user|| '_undefined_'"-->
    <!-- <div ng-switch-default>
    <h1 >{{user.displayName}}'s List</h1>
    <input type="text" ng-model="ingredient.name" >
    <button ng-click="add()">Add</button>
   </div> 
   <div ng-switch-when="_undefined_">-->
    <h1 class="title">User's List</h1>
    <div class="row">
        <div class="col-sm first">
           <h2> Add ingredient:<input type="text" ng-model="ingredient.name"></h2>
            <button ng-click="add()">Add</button>
            <button ng-click="search()">Search recipes</button>

            <div ng-repeat="x in userList">
                <div>
                    <h2> {{x.name}} <i class="fas fa-times" ng-click="remove(x)"></i>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <h1>Recipes you can make!</h1>
                <div>
                    <ul ng-repeat="x in match">
                        <a ui-sref="recipe({id:{{x}}})">
                            <h2>{{x}}</h2>
                </div>
            </div>
        </div>
    </div>